@use './reset.scss';
@use './variables.scss';

body {
  --index: 0;
  --total: 1;
  --id: '';

  height: 100dvh;
  width: 100dvw;
  position: relative;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--c-text);

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: calc(var(--total) * 100dvw);
    height: 100dvh;
    transform: translateX(calc(var(--index) * -100dvw));
    transition: transform 0.3s ease;
    background: linear-gradient(
      -60deg, 
      #f7ea60, 
      #3cf2de, 
      #f774bb,
      #8711c1, 
      // #2472fc,
      // #ac48e7,
      // #d8478c,
      // #ff200d 
    );
  }
}

body > canvas {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

body[data-id="kiswe"] > canvas {
  background: linear-gradient(90deg, #ac48e7, #d8478c 54%, #ff200d);
}

body > nav {
  --size: 4rem;
  --base-offset: calc(var(--size) * 0.75);
  position: fixed;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;

  & > button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    border: 2px solid var(--c-background);
    transition: transform 0.2s ease;
    pointer-events: all;
    cursor: pointer;

    &:nth-child(odd) {
      margin-bottom: var(--base-offset);
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
  
  svg {
    width: 65%;
    pointer-events: none;
    fill: var(--c-background);
  }
}

body > aside {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: monospace;
}

input[type="checkbox"] {
  all: unset;
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  border: 2px solid var(--c-background);
  background-color: var(--c-background);
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0.1rem;
    left: 0.25rem;
    width: 0.4rem;
    height: 0.7rem;
    border: solid var(--c-text);
    border-width: 0 0.2rem 0.2rem 0;
    opacity: 0;
    transform: rotate(45deg) scale(0.9);
    pointer-events: none;
    transition: opacity 0.2s;
  }

  &:checked::after {
    opacity: 1;
  }
}

label {
  font-size: 0.875rem;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.08em;
}

#usermedia-video {
  position: fixed;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transform: scaleX(-1);
  object-fit: cover;
}
