@use './reset.scss';
@use './variables.scss';

body {
  height: 100dvh;
  width: 100dvw;
  background-color: var(--c-background);
}

body > canvas {
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s ease;

  &[data-video="heart"] {
    background-color: #e19800;
  }
  
  &[data-video="drop"] {
    background-color: #00a00b
  }
  
  &[data-video="smile"] {
    background-color: #b90000;
  }

  &[data-video="kiswe"] {
    background-image: linear-gradient(90deg, #ac48e7, #d8478c 54%, #ff200d);
  }
}

body > nav {
  position: fixed;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;

  & > button {
    
  }
}
